* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #222222;
  /* font-family: "Volkhov", serif; */
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 28px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Volkhov", serif;
  clear: both;
}

/* Reponsive */
@media (max-width: 1440px) {
  .banner-left h2 {
    font-size: 100px !important;
  }
  .banner h3 {
    font-size: 40px !important;
    line-height: 50px !important;
  }
}
@media (max-width: 1200px) {
  .grids_info h4 {
    font-size: 20px !important;
  }
  p {
    line-height: 26px;
  }
  .services .services-item .item-content h3 {
    font-size: 19px !important;
  }
}
@media (max-width: 1150px) {
  .banner-left h2 {
    font-size: 90px !important;
  }
  .banner h3 {
    font-size: 35px !important;
    line-height: 45px !important;
  }
  p.banner-text {
    font-size: 17px !important;
  }
  .banner-left {
    left: 5em !important;
  }
}
@media (max-width: 991px) {
  header.main-header {
    height: auto !important;
    padding: 17px 0 !important;
  }
  .navbar,
  header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
    padding: 0rem !important;
  }
  .banner-left h2 {
    font-size: 90px !important;
  }
  .banner h3 {
    font-size: 32px !important;
    line-height: 42px !important;
  }
  .banner-left {
    left: 2em !important;
  }
  h5.small-title {
    font-size: 20px !important;
  }
  .title-style {
    font-size: 35px !important;
    line-height: 45px !important;
  }
  .gallery .gallery-item .item-1 h5 {
    font-size: 20px !important;
  }
  .services .services-item .item-content h3 {
    font-size: 20px !important;
  }
}
@media (max-width: 800px) {
  .features .grids-1 {
    padding: 1.5em !important;
  }
}
@media (max-width: 768px) {
  .navbar .navbar-brand.index-responsive-color {
    color: #fff !important;
  }
  .nav-fixed .navbar .navbar-brand.index-responsive-color {
    color: #fb811e !important;
  }
  .banner-left {
    left: 0em !important;
    padding: 2em !important;
  }
  .banner-left-content {
    background: #222222;
    padding: 3em 2em 2em 4em;
    border-radius: 8px;
  }
  h5.small-title {
    font-size: 18px !important;
  }
  .title-style {
    font-size: 32px !important;
    line-height: 42px !important;
  }
  .gallery .gallery-item .item-1 h5 {
    font-size: 18px !important;
  }
}
@media (max-width: 738px) {
  .imginfo__box {
    left: -50px !important;
  }
}
@media (max-width: 736px) {
  .testiminals q {
    font-size: 17px !important;
    line-height: 30px !important;
  }
}
@media (max-width: 667px) {
  .features .box-wrap h4 a {
    font-size: 18px !important;
  }
}
@media (max-width: 568px) {
  .banner-left h2 {
    font-size: 70px !important;
  }
  .banner h3 {
    font-size: 28px !important;
    line-height: 38px !important;
  }
  p.banner-text {
    font-size: 16px !important;
  }
  .title-style {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .text-para {
    margin: 0 !important;
    margin-bottom: 10px;
  }
  .features .box-wrap h4 a {
    margin-bottom: 7px;
  }
}
@media (max-width: 480px) {
  .banner-left-content {
    padding: 2.5em 2em 2em 2.5em !important;
  }
  .navbar .navbar-brand,
  a.footer-logo {
    font-size: 28px !important;
  }
  .banner-left {
    padding: 1em !important;
  }
  .banner h3 {
    font-size: 25px !important;
    line-height: 35px !important;
  }
  .banner-left h2 {
    font-size: 60px !important;
  }
}
@media (max-width: 450px) {
  .item-1 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
  }
}
@media (max-width: 440px) {
  .features .call-grids-w3 {
    grid-template-columns: 1fr !important;
    grid-gap: 20px !important;
  }
  .text-para {
    font-size: 15px !important;
  }
}
@media (max-width: 320px) {
  .features .call-grids-w3 {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .customer-caption {
    text-align: left !important;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
body a {
  cursor: pointer !important;
}
body a:hover {
  text-decoration: none;
  transition: 0.5s all;
}
header.main-header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}
.navbar {
  padding: 0;
}
a:not([href]):not([tabindex]) {
  color: unset;
  text-decoration: none;
}
.navbar .navbar-brand {
  font-size: 32px;
  color: #fb811e !important;
  padding: 0px;
  position: relative;
  transition: 0.5s;
}
.navbar .navbar-brand i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}
a.navbar-brand:hover {
  color: black !important;
  cursor: pointer;
}
.navbar .search-right {
  margin: 0 10px 0 10px;
}
.search-right input[type="search"] {
  background: #fff url(../images/search.png) no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
#demo-2 input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}
.theme-switch input {
  display: none;
}
.mode-container {
  width: 24px;
  height: 24px;
  padding: 0px 0;
  margin-left: 10px;
  color: #fff;
}
.mode-container:hover {
  color: #fb811e;
}
.mode-container i {
  font-size: 15px;
}
.mode-container i.gg-sun {
  display: none;
}
.mode-container i.gg-moon {
  cursor: pointer;
  display: block;
}
input:checked + .mode-container i.gg-moon {
  display: none;
}
input:checked + .mode-container i.gg-sun {
  display: block;
  cursor: pointer;
}
ul#menu {
  margin: 0;
  color: #fff;
  z-index: 99;
  font-size: 29px;
}
ul#menu > li {
  float: left;
  list-style-type: none;
  position: relative;
  width: 100%;
}
nav ul li {
  text-align: center;
}
ul#menu input {
  display: none;
}
ul#menu label {
  position: relative;
  display: block;
  transition: background 0.3s;
  cursor: pointer;
  text-align: center;
  margin: 0;
}
ul#menu label span {
  line-height: 1em;
}
ul.submenu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background: #222222;
  transition: max-height 0.5s ease-out;
  position: absolute;
  min-width: 8em;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}
ul#menu input:checked ~ ul.submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}
ul.submenu li a {
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #fdfffc;
  font-family: "Source Sans Pro";
}
nav ul li a {
  transition: all 0.5s;
}
ul.submenu li.current_page_item a {
  color: #fb811e;
}
nav ul li a:hover {
  color: #fb811e;
}
header.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: #222222;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}
.nav-fixed .navbar-brand {
  color: #fff !important;
}
.nav-fixed ul#menu {
  color: #fff;
}
.nav-fixed .mode-container {
  color: #fff;
}
.banner,
.features,
.servicesblock,
.services {
  background-color: #222222;
}
.banner-left {
  position: absolute;
  left: 10em;
  z-index: 1;
}
.banner-left h2 {
  color: #0b0d0e;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
}
.banner h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}
p.banner-text {
  font-size: 20px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: #b7b7b7;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.btn-style:hover {
  background: #009f4d;
  color: #ffffff;
}
.st-slider {
  position: relative;
}
.images {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom-left-radius: 20px;
}
.images-inner {
  width: 500%;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.image-slide {
  transition: all 0.5s ease-out;
}
.image-slide {
  width: 20%;
  float: left;
}
.banner-w3ls-1,
.banner-w3ls-2,
.banner-w3ls-3 {
  background-size: cover;
  min-height: 100vh;
  padding: 40px 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
  border-bottom-left-radius: 0px;
  z-index: 0;
}
.banner-w3ls-1 {
  background-position: top center;
}
.banner-w3ls-1:before,
.banner-w3ls-2:before,
.banner-w3ls-3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  z-index: -1;
  top: 0;
}
.slider-num {
  margin-right: 1em;
}
.d-grid {
  display: grid;
}
.slider-num h4 {
  color: #fff;
}
span {
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
}
.slider-num p {
  color: #fff;
}
.fake-radio {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}
.image-slide,
.fake-radio,
.radio-btn {
  transition: all 0.5s ease-out;
}
#slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
#slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
#slide3:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  background: #fb811e;
}
#slide1:checked ~ .images .images-inner {
  margin-left: 0;
}

#slide2:checked ~ .images .images-inner {
  margin-left: -100%;
}

#slide3:checked ~ .images .images-inner {
  margin-left: -200%;
}
.radio-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  display: inline-block !important;
  margin: 0px 4px;
  cursor: pointer;
}
.radio {
  display: none;
}

h5.small-title {
  color: #fb811e;
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
}
.features .call-grids-w3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.features .box-wrap {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgb(23 19 19);
  background-color: #222222;
}
.features .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.features .box-wrap h4 a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #fdfffc;
  text-decoration: none;
}
.features .box-wrap h4 a:hover {
  transition: 0.5s;
  color: #009f4d;
}
.features .box-wrap:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.service-section {
  background: #009f4d;
}
.title-style-main {
  z-index: 1;
}
h4.title-bg-content {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 25%;
  /* left: 0; */
  bottom: 50%;
}
.service-section .card {
  border: none;
  background: none;
}
.img-responsive {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  width: 100%;
}
.service-section .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.service-details {
  background: #222222;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid rgb(255 255 255 / 20%);
  border-top: none;
}
.card-body {
  min-height: 1px;
}
.service-section span.label-style {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
a.service-heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #fdfffc;
  margin: 15px 0;
  transition: 0.5s;
}
a.service-heading:hover {
  color: #009f4d;
}
.align-self {
  align-self: center;
}
.grids_info span.fa {
  font-size: 30px;
  color: #fb811e;
}
.grids_info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.radius-image {
  border-radius: 30px;
}
.imginfo__box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__box .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.imginfo__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/* start services */

.services .services-item a {
  text-decoration: none;
  border: 1px solid rgb(112, 112, 112, 0);
  padding: 2rem 1rem;
  margin: 1rem 0.2rem;
  border-radius: 0.7rem;
  transition: all 0.3s ease-in;
}
.services .services-item a:hover {
  border: 1px solid rgb(112, 112, 112, 0.15);
}
.services .services-item a:hover h3 {
  color: #009f4d;
}
.services .services-item .item-icon img {
  max-width: 100%;
}
.services .services-item .item-content h3 {
  font-size: 22px;
  font-family: "Volkhov", serif;
  color: #fdfffc;
  font-weight: bold;
  transition: all.8s;
}
.services .services-item .item-content p {
  margin-top: 10px;
  font-size: 17px;
  color: #b7b7b7;
  font-family: "Source Sans Pro", sans-serif;
}
/* end services */

/* start gallery */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 0.5em;
  background-color: #222222;
}
.gallery .gallery-item .item-1 h5 {
  font-size: 22px;
  color: #fb811e;
}
.gallery .gallery-item .item-1 h3 {
  font-size: 40px;
  line-height: 50px;
  color: #fdfffc;
  font-weight: 600;
}
.gallery .gallery-item .item-1 p {
  font-size: 17px;
  color: #b7b7b7;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
.gallery .gallery-item .item-1 button {
  /* margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #fb811e;
  border: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  transition: 0.8s; */

  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.gallery .gallery-item .item-1 button:hover {
  background-color: #009f4d;
  outline: 2px solid #bd67ec;
}
.gallery .gallery-item .item {
  overflow: hidden;
}
.gallery .gallery-item .item img {
  width: 100%;
}
.gallery .item-content a {
  text-decoration: none;
  overflow: hidden;
}
.gallery .item-content a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 3;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-17deg);
}
.gallery .item-content a:hover::before {
  top: 0;
  left: 100%;
  transition-duration: 0.8s;
}
.gallery .item-content h5 {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgb(255 255 255 / 27%);
  padding: 6px;
  width: 80%;
}
/* end gallery */

/* start testiminals */
.testiminals {
  background-image: url(/img/testimonials-bg1.jpg);
  width: 100%;
  position: relative;
}
.testiminals q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.testiminals::before {
  content: "";
  background-color: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 520px;
  left: 0;
  right: 0;
}
.testiminals .carousel-item {
  height: 520px;
}
.testiminals .carousel-caption {
  position: absolute;
  right: 12%;
  left: 11%;
  bottom: 35%;
  text-align: left;
}
.testiminals .customer-profile {
  text-align: center;
}
.testiminals .customer-profile img {
  border-radius: 50%;
  width: 50%;
  margin-bottom: 1rem;
}
.testiminals .customer-profile h3 {
  font-size: 20px;
  font-family: "Volkhov", serif;
  font-weight: 700;
}
.testiminals .customer-profile p {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
.testiminals .customer-caption span {
  font-weight: 600;
  font-size: 20px;
  color: #fb811e;
}
.testiminals .customer-caption p {
  text-indent: 1.6rem;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
}
.testiminals .carousel-indicators {
  bottom: 20%;
}
.testiminals .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.testiminals .carousel-indicators li:hover {
  background-color: rgb(251, 129, 30);
  opacity: 1;
}
.testiminals .carousel-indicators .active {
  background-color: #fb811e;
}
/* end testiminals */

/* start FOOTER */
footer {
  padding: 80px 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #707070;
}
footer .title h3 {
  font-family: "Volkhov", serif;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
footer .title-copy-right {
  font-family: "Volkhov", serif;
}
footer .title-copy-right a,
.title-copy-right i {
  font-size: 32px;
  color: #fb811e;
  text-transform: none;
  text-decoration: none;
  transition: all.5s;
}
footer .title-copy-right a:hover,
footer .title-copy-right a:hover i {
  color: black;
}
footer .title-copy-right i {
  font-size: 20px;
  position: absolute;
  top: -10px;
  left: 70px;
}
footer .content {
  color: #b7b7b7;
  line-height: 24px;
  font-size: 17px;
}
footer .content a {
  text-decoration: none;
  color: #b7b7b7;
  transition: all.5s;
}
footer .content-copy-right {
  padding-top: 10px;
}
footer .content .copy-right-a {
  margin-top: 50px;
}
footer .content .copy-right-a a {
  color: #009f4d;
}
footer .content a:hover {
  color: #fb811e;
}
footer .footer-news .news-button {
  display: flex;
}
footer .footer-news .news-button input {
  background-color: #0b0d0e;
  width: 80%;
  color: #b7b7b7;
  padding: 12px 20px;
  border-radius: 30px 0px 0px 30px;
  border: none;
  margin: 0;
  outline: none;
}
footer .footer-news .news-button button {
  width: 20%;
  margin: 0;
  border: none;
  border-radius: 0px 30px 30px 0px;
  background-color: #009f4d;
  color: white;
  outline: none;
  font-size: 16px;
  transition: all.8s;
}
footer .footer-news .news-button button:hover {
  background-color: rgb(0, 159, 77, 0.8);
}
footer .footer-news ul {
  display: flex;
  margin-top: 20px;
}
footer .footer-news li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: rgb(0, 159, 77, 0.08);
  margin-right: 10px;
  border-radius: 50%;
  transition: all.5s;
}
footer .footer-news li:hover {
  background-color: rgb(251, 129, 30, 0.08);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
footer .footer-news li a {
  color: #009f4d;
  transition: all.5s;
}
footer .footer-news li:hover a {
  color: #fb811e;
}
footer .copy-right-2 {
  display: none;
}
/* end FOOTER */

/* BUTTON GO ON TOP */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #009f4d; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
#myBtn span {
  font-size: 14px;
}

#myBtn:hover {
  filter: grayscale(0.3); /* Add a dark-grey background on hover */
}

/* MEDIA */
/* tablet */
@media screen and (max-width: 912px) {
  .testiminals .carousel-caption {
    position: relative;
    top: 10%;
    left: 3%;
    bottom: 0;
    padding-right: 3%;
  }
}
/* mobile */
@media screen and (max-width: 720px) {
  /* start services */
  .services .services-item a {
    text-decoration: none;
    border: 1px solid rgb(112, 112, 112, 0);
    padding: 0.5rem 0rem;
    margin: 0.5rem 0.2rem;
    border-radius: 0.7rem;
    transition: all.8s;
  }
  /* start gallery */
  .gallery .gallery-item .item-1 h3 {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
  }
  .gallery .gallery-item .item-1 button {
    margin-top: 0rem;
    font-size: 16px;
  }
  /* end gallery */

  /* start testimonail */
  .testiminals .carousel-caption {
    position: relative;
    top: 0;
    left: 3%;
    bottom: 0;
    padding-right: 3%;
  }
  .testiminals .customer-profile img {
    border-radius: 50%;
    width: 20%;
    margin-bottom: 1rem;
  }
  .testiminals .customer-caption p {
    text-indent: 1.6rem;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .testiminals .carousel-indicators {
    bottom: 10%;
  }
  /* start footer */
  footer .copy-right {
    display: none;
  }

  footer .copy-right-2 {
    display: block;
    margin-top: 20px;
  }

  .footer-contact {
    margin-top: 20px;
  }

  .footer-news {
    margin-top: 20px;
  }
}
